{% extends 'recipe/base.html' %}

{% block content %}
    <div class="recipe">
        {% if recipe.published_date %}
            <div class="date">
                {{ recipe.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'recipe_edit' pk=recipe.pk %}">
            <span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ recipe.title }}</h1>
        <p>{{ recipe.ingredients|linebreaksbr }}</p>
    </div>
{% endblock %}